/venv
/.idea
/src/Tests
*.pyc
iptv_app.spec
/build
/dist
/IPTV-Saba
/src/IPTV-Saba
/iptv_app.dist
/src/view/IPTV-Saba
/src/build
*.mkv
/src/dist
*.mp4
/.buildozer
/bin
*.log
build_output.log
*.apk
__pycache__/
*.pyo
